---
import { Icon } from "astro-icon/components";
---

<footer>
  <article class="flow-space dark-text">
    <h3>Vil du vide mere?</h3>
    <p>Du kan give mig et kald på <span>+45 53 56 23 63</span>, skrive en <br />mail til <span>sif.m.hansen@gmail.com</span> eller tjekke min profil på <a href="https://www.linkedin.com/in/sif-melkane-hansen-b48a292a5/">LinkedIn.</a></p>
    <p>Glæder mig til at høre fra dig!</p>

    <!-- <h4>Min erfaring?</h4>
    <p>Tjek min profil på <a href="https://www.linkedin.com/in/sif-melkane-hansen-b48a292a5/">LinkedIn</a></p> -->
    <small>© 2025 | Sif Melkane Hansen </small>
    <Icon name="logo" />
  </article>
</footer>

<style>
  article {
    display: grid;
    background: var(--main);
    border-radius: var(--radius-m) var(--radius-m) 0 0;
    padding: var(--space-xl) var(--space-xl) var(--space-m);
    margin-top: var(--space-l);
    position: relative;
    overflow: hidden;

    span {
      color: var(--accent);
    }

    small {
      color: oklch(from var(--white) calc(1 - 0.2) c h);
      text-align: center;
      margin-top: var(--space-xl);
    }
    [data-icon] {
      display: block;
      position: absolute;
      max-width: 350px;
      right: 10%;
      top: 30px;
      z-index: 1;
      opacity: 70%;
    }
  }
</style>
