<footer>
  <article class="flow-space dark-text">
    <h3>Skal vi tage en snak?</h3>
    <p>Giv mig et kald på <span>+45 53 56 23 63</span> eller skriv en mail til <span>sif.m.hansen@gmail.com</span>.</p>
    <p>Glæder mig til at høre fra dig!</p>

    <h4>Min erfaring?</h4>
    <p>Tjek min profil på <a href="https://www.linkedin.com/in/sif-melkane-hansen-b48a292a5/">LinkedIn</a></p>
  </article>
</footer>

<style>
  article {
    background: var(--beige);
    border-radius: var(--radius-m) var(--radius-m) 0 0;
    padding: var(--space-xl) var(--space-l);
    margin-top: var(--space-l);

    span {
      color: var(--accent);
    }
  }
</style>
