<header>
  <article>
    <p>Sif Melkane Hansen</p>
    <p class="border">2025</p>
  </article>
</header>

<style>
  article {
    --space: var(--space-s);

    display: flex;
    justify-content: end;
    gap: var(--space);
    padding-block: var(--space-l);

    p {
      font-family: var(--font-display);
      font-size: var(--step--1);

      &.border {
        border-left: 1px solid var(--accent);
        padding-left: var(--space);
      }
    }
  }
</style>
