---
import { Icon } from "astro-icon/components";

const { number, icon } = Astro.props;
---

<article>
  <Icon name={icon} />

  <div>
    <p class="big">{number} +</p>
    <p>
      <slot />
    </p>
  </div>
</article>

<style>
  article {
    background: var(--white-50);
    border-radius: var(--radius-s);
    box-shadow:
      0px 1px 3px rgba(210, 210, 210, 0.8),
      0px 4px 10px rgba(210, 210, 210, 0.8);
    padding: var(--space-xs) var(--space-m);
    flex-grow: 1;

    display: flex;
    gap: var(--space-s);
    align-items: center;

    [data-icon] {
      max-width: 4rem;
    }

    div:has(p) {
      color: var(--black);
    }
  }

  .big {
    font-size: var(--step-2);
    color: var(--accent);
    white-space: nowrap;
  }
</style>
