---
import { Image } from "astro:assets";
import profile from "../assets/images/profile.png";
import HeroCard from "./HeroCard.astro";
---

<section>
  <header>
    <Image src={profile} alt="Et profilbillede af Sif" />
    <div>
      <h1>Hej, jeg er Sif</h1>
      <p>Digital designer og frontendudvikler.</p>
      <p class="secondary">Jeg vil gerne blive endnu klogere på designsystemer, digitale prototyper og opbygning af responsive, dynamiske sites.</p>
    </div>
  </header>
  <div class="stats">
    <HeroCard icon="instagram" number="10">sites kodet</HeroCard>
    <HeroCard icon="instagram" number="23">moodboards kodet</HeroCard>
    <HeroCard icon="instagram" number="7">prototyper testet</HeroCard>
  </div>
</section>

<style>
  @layer components {
    section {
      img {
        max-width: calc(100vw / 2);
      }

      header {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: var(--space-2xl);
        div:has(h1) {
          margin-block: var(--space-l) var(--space-xs);
          h1 {
            margin-bottom: var(--space-m);
          }

          p {
            font-size: var(--step-1);
          }
        }
      }

      .stats {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        gap: var(--space-s);
      }

      @media (min-width: 600px) {
        header {
          grid-template-columns: 1fr 2fr;
          gap: var(--space-2xl);
        }
      }
    }
  }
</style>
