---
import { Image } from "astro:assets";
import profile from "../assets/images/profile.png";
import HeroCard from "./HeroCard.astro";
---

<section>
  <article class="text">
    <Image src={profile} alt="Et profilbillede af Sif" />
    <h1>Hej, jeg er Sif</h1>
    <div>
      <p>Digital designer og frontendudvikler.</p>
      <p class="secondary">Jeg vil gerne blive endnu klogere på designsystemer, digitale prototyper og opbygning af responsive, dynamiske sites.</p>
    </div>
  </article>
  <div class="stats">
    <HeroCard icon="instagram" number="10">sites kodet</HeroCard>
    <HeroCard icon="instagram" number="23">moodboards kodet</HeroCard>
    <HeroCard icon="instagram" number="7">prototyper testet</HeroCard>
  </div>
</section>

<style>
  @layer components {
    section {
      display: flex;
      gap: var(--space-xl);
      flex-direction: column;
      margin: var(--space-xl) 0;

      img {
        width: 150px;
      }

      article:has(h1) {
        display: flex;
        flex-direction: column;
        gap: var(--space-m);

        p {
          font-size: var(--step-1);
        }
      }

      .stats {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        gap: var(--space-s);
      }
    }
  }
</style>
