---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import profile from "../assets/images/profile.png";
import HeroCard from "./HeroCard.astro";
---

<section>
  <header>
    <Image src={profile} alt="Et profilbillede af Sif" width="500" />
    <div>
      <Icon name="hand" />
      <h1>Hej, jeg er Sif</h1>
      <p>Digital designer og konceptudvikler.</p>
      <p class="secondary">Jeg vil gerne blive endnu klogere på dataindsamling, designprocesser og at skaber gode oplevelser.</p>
    </div>
  </header>
  <div class="stats">
    <HeroCard icon="code" number="10">sites kodet</HeroCard>
    <HeroCard icon="test" number="7">prototyper testet</HeroCard>
    <HeroCard icon="moodboards" number="23">moodboards udforsket</HeroCard>
  </div>
  <!-- <Icon name="bg_1" /> -->
</section>

<style>
  section {
    img {
      max-width: calc(100vw / 2);
      border-radius: var(--radius-max);
    }

    header {
      display: grid;
      grid-template-columns: 1fr;
      margin-bottom: var(--space-2xl);

      div:has(h1) {
        margin-block: var(--space-l) var(--space-xs);
        position: relative;

        h1 {
          position: relative;
          margin-bottom: var(--space-m);
          z-index: 2;
        }

        p {
          position: relative;
          font-size: var(--step-1);
          z-index: 2;
        }
        [data-icon] {
          position: absolute;
          max-width: 90px;
          right: 2%;
          top: 5px;
          z-index: 1;
        }
      }
    }

    .stats {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      gap: var(--space-s);
    }

    @media (min-width: 600px) {
      header {
        grid-template-columns: 1fr 2fr;
        gap: var(--space-2xl);
      }
    }
  }
</style>
