---
import ScrollingContainer from "../components/ScrollingContainer.astro";
import Text from "../components/Text.astro";

const { data } = Astro.props;
console.log(data);
---

<section class="full-bleed">
  <Text heading="Projekter" size="h2">
    <p>Som studerende på multimediedesign, har jeg arbejdet med digitalt design i mange afskygninger, men særligt med interesse indenfor designsystemer, UX/UI design og implementering af disse.</p>
    <p>Ved siden af mit studie er jeg co-founder af start-up’en Peer Performance. Her bidrager jeg særligt med min viden om UI/UX, designer interfacet til vores app, samt med designet og implementeringen af vores <a href="">hjemmeside</a>.</p>
  </Text>
  <ScrollingContainer cardData={data} />
</section>

<style>
  section {
    grid-column: full;
    display: grid;
    grid-template-columns: inherit;
  }
</style>
