---
import SkillsCategory from "./SkillsCategory.astro";
---

<article>
  <small>Jeg er dygtig til</small>
  <SkillsCategory title="Værktøjer">
    <li>Figma</li>
    <li>Github</li>
    <li>Codepen</li>
    <li>Adobe Illustrator</li>
    <li>Notion</li>
  </SkillsCategory>
  <SkillsCategory title="Sprog">
    <li>HTML</li>
    <li>CSS</li>
    <li>Javascript</li>
    <li>Astro</li>
    <li>React</li>
  </SkillsCategory>
  <SkillsCategory title="Metoder">
    <li>Designsystemer</li>
    <li>Atomic design</li>
    <li>Design Thinking</li>
    <li>Projektstyring</li>
  </SkillsCategory>
</article>

<style>
  article {
    display: grid;
    grid-template-columns: [title]auto [list]auto;
    container-type: inline-size;
    border-bottom: solid thin var(--black-300);

    > * {
      grid-column: 1 / -1;
    }
  }
</style>
