---

---

<article class="flow-space">
  <h4>Programmer</h4>
  <ul>
    <li>Figma</li>
    <li>Adobe Illustrator</li>
    <li>Notion</li>
    <li>Github</li>
  </ul>
  <h4>Sprog</h4>
  <ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>Javascript</li>
    <li>Astro</li>
    <li>React</li>
  </ul>
  <h4>Metoder</h4>
  <ul>
    <li>Designsystemer</li>
    <li>Brugertest</li>
    <li>Projetstyring</li>
  </ul>
</article>

<style>
  @layer components {
    article {
      background: var(--accent);
      border-radius: var(--radius-m);
      padding: var(--space-l) var(--space-l);
    }
  }
</style>
