---
import SkillsCategory from "./SkillsCategory.astro";
---

<article>
  <small>Jeg er dygtig til</small>
  <SkillsCategory title="Metoder">
    <li>Brugertest</li>
    <li>Dataindsamling</li>
    <li>Brugerrejser</li>
    <li>Designsystemer</li>
    <li>Skitsering</li>
  </SkillsCategory>
  <SkillsCategory title="Teknologi">
    <li>Figma</li>
    <li>Notion</li>
    <li>Post-It</li>
    <li>Adobe Suite</li>
  </SkillsCategory>
  <SkillsCategory title="Hygge">
    <li>Proffesorterninger</li>
    <li>Kagebagning</li>
    <li>Bordtennis</li>
    <li>Strik</li>
  </SkillsCategory>
  <SkillsCategory title="Processer">
    <li>Design Thinking</li>
    <li>GV Sprint</li>
    <li>Projektstyring</li>
  </SkillsCategory>
</article>

<style>
  article {
    display: grid;
    grid-template-columns: [title]auto [list]auto;
    container-type: inline-size;
    border-bottom: solid thin var(--black-300);

    > * {
      grid-column: 1 / -1;
    }
  }
</style>
