---
import Text from "../components/Text.astro";
import SkillsTabel from "./SkillsTabel.astro";
---

<section>
  <Text heading="Min tilgang">
    <p>Jeg er altid nysgerrig på at skabe bedre systemer, lære nye metoder og udvikle min faglighed.</p>
    <p>Jeg har stor erfaring med at arbejde i teams, og oplever at mit bedste arbejde er skabt i samarbejde med andre. Men jeg har også en stor glæde ved selv at kunne få lov til at fordybe mig, i processen.</p>
  </Text>
  <SkillsTabel />
</section>

<style>
  section {
    margin-block: var(--space-xl);
    display: grid;
    gap: var(--space-xl);
  }
  @media (min-width: 600px) {
    section {
      > :first-child {
        justify-self: end;
      }

      gap: var(--space-xl);
      /* > :last-child {
        order: -1;
      } */
      small {
        display: none;
      }
    }
  }
</style>
