---
import { Icon } from "astro-icon/components";

import Text from "../components/Text.astro";
import SkillsTabel from "./SkillsTabel.astro";
---

<section>
  <Text heading="Min tilgang">
    <p>Jeg er altid nysgerrig på at skabe bedre systemer, lære nye metoder og udvikle min faglighed.</p>
    <p>Jeg har stor erfaring med at arbejde i teams, og oplever at mit bedste arbejde er skabt i samarbejde med andre. Men jeg har også en stor glæde ved selv at kunne få lov til at fordybe mig og arbejde selv, i dele af processen.</p>
  </Text>
  <SkillsTabel />
  <div class="notes">
    <p class="note">Jeg er dygtig til</p>
    <Icon name="arrow_2" />
  </div>
</section>

<style>
  section {
    margin-block: var(--space-xl);
    display: grid;
    gap: var(--space-xl);
    position: relative;

    .notes {
      display: none;
    }

    small {
      margin-bottom: var(--space-xs);
    }
  }
  @media (min-width: 800px) {
    section {
      > :first-child {
        justify-self: end;
      }

      gap: var(--space-xl);
      /* > :last-child {
        order: -1;
      } */
      small {
        display: none;
      }

      .notes {
        display: block;
        position: absolute;
        left: 5%;
        top: 100px;
        rotate: -15deg;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: end;
        [data-icon] {
          max-width: 110px;
        }
      }
    }
  }
</style>
