---

---

<article>
  <h3>Programmer</h3>
  <ul>
    <li>Figma</li>
    <li>Adobe Illustrator</li>
    <li>Notion</li>
    <li>Github</li>
  </ul>
  <h3>Sprog</h3>
  <ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>Javascript</li>
    <li>Astro</li>
    <li>Next</li>
    <li>React</li>
  </ul>
  <h3>Metoder</h3>
  <ul>
    <li>Designsystemer</li>
    <li>Brugertest</li>
    <li>Proejktstyring</li>
  </ul>
</article>

<style>
  @layer components {
    article {
      background: var(--accent);
      border-radius: var(--radius-m);
      padding: var(--space-l) var(--space-l);

      h3 {
        font-family: var(--font-body);
        font-size: var(--step-2);
      }
    }
  }
</style>
