---
const { heading } = Astro.props;
---

<article>
  <h2>{heading}</h2>
  <slot />
</article>

<style>
  @layer components {
    article {
      display: flex;
      flex-direction: column;
      gap: var(--space-xs);
    }
  }
</style>
