---
const { layout = "full-bleed", theme } = Astro.props;
---

<section data-layout={layout} data-theme={theme}>
  <slot />
</section>

<style>
  @layer components {
    section {
      display: flex;
      flex-direction: column;
      gap: var(--space-m);
    }
  }
</style>
